*{
  margin: 0;
}

.body{
  max-height: 100vh;
  max-width: 100vw;
}

.header{
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  top: 0;
  position: sticky;
}

.logo{
  padding: 10px;
}

.menu{
  padding: 10px;
}

.menu-btn{
  padding: 10px;
  font-size: large;
  border: none;
  background-color: white;
}

.menu-btn:hover{
  background-color: lightgrey;
}

.clear{
  padding: 10px;
}

.clear-btn{
  font-size: large;
  padding: 10px;
  border: none;
  background-color: white;
}

.clear-btn:hover{
  background-color: lightgrey;
}

.greet{
  text-align: center;
  margin-top: 100px;
}

.translate{
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  background-color: lightgrey;
  text-align: center;
}

.dokbadale-seani{
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  background-color: lightgrey;
  text-align: center;
}

.katta-jikse{
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  background-color: lightgrey;
  text-align: center;
}

form{
  display: flex;
  padding: 10px;
}

.text{
  width: 100%;
  padding: 10px;
  font-size: large;
  border: 1px solid lightgrey;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.submit-btn{
  font-size: large;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-fields{
  position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.chat-box{
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.textDiv{
  text-align: right;
  margin-left: 100px;
  margin-right: 10px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 20px;
}

.responseDiv{
  margin: 10px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 20px;
}

.footer{
  display: none;
}

@media(min-width: 1000px){
  .body{
    display: grid;
    grid-template-areas: "left-side-content center-content center-content center-content right-side-content";
  }
  .left-side-content{
    grid-area: left-side-content;
  }
  
  .right-side-content{
    grid-area: right-side-content;
  }
  
  .center-content{
    grid-area: center-content;
  }

  .text{
    width: 65%;
    height: 50px;
  }
  .footer{
    display: block;
  }
}